* {
    font-size: 20px;
}

html {
    background-color: var(--bs-gray-100);
}

.container {
    background-color: var(--bs-gray-100);
}

body {
    background-color: var(--bs-gray-100) !important;
}

.my-alert {
    position: fixed;
    z-index: 999;
    bottom: 0px;
    right: 0px;
}