<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erros Pallets</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios.js"></script>
</head>

<body>
    <div class="container" id="app">
        <div class="row">

            <div v-if="successPrint.status" class="alert my-alert alert-dismissible fade show"
                :class="successPrint.tipo" role="alert">
                <strong>{{ successPrint.titulo }}</strong> <i class="bi bi-printer"></i>
                {{ successPrint.mensagem }}
                <button type="button" class="btn-close" @click="successPrint.status = false"></button>
            </div>

            <div class="col-12">
                <div class="card mt-2 shadow-sm">
                    <div class="card-body">
                        <div class="row bg-white" v-if="loadingDados">
                            <div class="col-md-12 text-center">
                                <div class="spinner-border text-info" style="width: 5rem; height: 5rem" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <div class="row bg-white">
                            <div class="col-12">
                                <!-- <label for="exampleFormControlInput1" class="form-label">Op</label> -->
                                <input type="text" v-on:keyup="modoCompara()" v-model="codigo" class="form-control"
                                    placeholder="digite o numero do palete" autofocus>
                            </div>
                            <div class="col mt-2">
                                <button class="btn btn-primary w-100" @click="modoCompara()">
                                    PESQUISAR
                                </button>
                            </div>
                            <div class="col mt-2">
                                <button class="btn w-100" @click="comparar = !comparar"
                                    :class="{ 'btn-success': comparar, 'btn-secondary' : !comparar }">
                                    <b>
                                        <div v-if="comparar">Desativar Comparar</div>
                                        <div v-else>Ativar Comparar</div>
                                    </b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-white card-login shadow-sm p-3 mt-2 mb-4">
                    <div class="row bg-white" v-if="pallet && pallet.pallet">
                        <!-- <h3>{{ codigo }}</h3> -->
                        <div v-if="pallet.status" class="col-md-12">
                            <div class="card card-login shadow-sm p-3 mb-2 text-center" :class="{
                                'bg-success text-light': success.includes(pallet.pallet[0].SOLUCAO),
                                'bg-warning': warning.includes(pallet.pallet[0].SOLUCAO),
                                'bg-info text-light': info.includes(pallet.pallet[0].SOLUCAO),
                                'bg-danger text-light': danger.includes(pallet.pallet[0].SOLUCAO)
                            }">
                                <h4>{{ pallet.pallet[0].SOLUCAO }}</h4>
                            </div>
                            <ul class="list-group" v-for="  pallet   in   pallet.pallet  ">
                                <li class="list-group-item"><b>Apontamento MES: </b>{{ pallet.APONTAMENTO_MES }}</li>
                                <li class="list-group-item"><b>OP: </b>{{ pallet.OP }}</li>
                                <li class="list-group-item"><b>Integrado Mecalux: </b>{{ pallet.RESULTADO }}</li>
                                <li class="list-group-item"><b>Status Mecalux: </b>{{ pallet.StatusMecalux }}</li>
                                <li class="list-group-item"><b>Localização: </b>{{ pallet.LOCATIONCODE }}</li>
                                <li class="list-group-item"><b>Histórico: </b>{{ pallet.Historico }}</li>
                                <li class="list-group-item"><b>Id Mecalux: </b>{{ pallet.ZF9_FSCMID }}</li>
                                <li class="list-group-item"><b>Data integração Mecalux: </b>{{ pallet.ZF9_DATA }}</li>
                                <li class="list-group-item"><b>Hora integração mecalux: </b>{{ pallet.ZF9_HORA }}</li>
                                <li class="list-group-item"><b>Erro de integração MES: </b>{{ pallet.ERRO_INTEGRACAO }}
                                </li>
                                <li class="list-group-item"><b>Estorno MES: </b>{{ pallet.ESTORNO_MES }}</li>
                                <li class="list-group-item"><b>Status: </b>{{ pallet.STATUS }}</li>
                                <li class="list-group-item"><b>Cod ST: </b>{{ pallet.COD_ST }}</li>
                                <li class="list-group-item"><b>Data/Hora: </b>{{ pallet.DATA_HORA }}</li>
                                <li class="list-group-item"><b>Produto: </b>{{ pallet.PRODUTO }}</li>
                                <li class="list-group-item"><b>Descrição: </b>{{ pallet.DESCRICAO }}</li>
                                <li class="list-group-item"><b>Qtd: </b>{{ pallet.QUANTIDADE }}</li>
                                <li class="list-group-item"><b>Receita: </b>{{ pallet.RECEITA }}</li>
                                <li class="list-group-item"><b>Recurso: </b>{{ pallet.RECURSO }}</li>
                                <li class="list-group-item"><b>Etiqueta Palet: </b>{{ pallet.ST_PALETE }}</li>
                                <li class="list-group-item"><b>Etiqueta Deletada: </b>{{ pallet.ST_DELETADA }}</li>
                                <li class="list-group-item"><b>Status: </b>{{ pallet.ZF9_STATUS }}</li>
                            </ul>
                        </div>
                        <div v-if="!pallet.status" class="col-md-12">
                            <h4>Nada encontrado</h4>
                        </div>
                    </div>

                    <div class="row bg-white"
                        v-if="pallet && pallet.status && pallet.etiquetaMecalux && pallet.etiquetaMecalux.length > 0">

                        <div class="col-md-12" v-for="toco in pallet.etiquetaMecalux">
                            <button class="btn btn-warning w-100 mt-3 p-2"
                                @click="printEtiqueta(toco.APONTAMENTO_MES, toco.id)">
                                IMPRIMIR
                                OP: {{ toco.OP }} MES: {{ toco.APONTAMENTO_MES }} QTD: {{ parseInt(toco.QUANTIDADE) }}
                                REC: {{ toco.RECURSO }}
                            </button>
                        </div>

                    </div>

                    <div class="row bg-white" v-if="pallet && pallet.op && pallet.op.length > 0 && pallet.status">
                        <div class="col-md-12">
                            <b>OP: {{ pallet.op[0].OP }}</b><br>
                            <b>Cod Prod: {{ pallet.op[0].PRODUTO }}</b><br>
                            <b>Desc: {{ pallet.op[0].DESCRICAO }}</b><br>
                            <b>Pallets:</b>
                            <ul class="list-group mt-3" v-for="  op   in   pallet.op  ">
                                <li class="list-group-item"><b>Cod apontamento: </b>{{ op.CODIGO_APONTAMENTO }}</li>
                                <li class="list-group-item"><b>MES: </b>{{ op.APONTAMENTO_MES }}</li>
                                <li class="list-group-item"><b>Solução: </b>{{ op.SOLUCAO }}</li>
                                <li class="list-group-item"><b>Status Mecalux: </b>{{ op.STATIONBASECODE }}</li>
                                <li class="list-group-item"><b>Integração MES: </b>{{ op.ID_INTEGRACAO_MES }}</li>
                                <li class="list-group-item"><b>Data Movimento: </b>{{ dateTask(op.DtMov) }}</li>
                                <li class="list-group-item"><b>Recurso: </b>{{ op.RECURSO }}</li>
                                <li class="list-group-item"><b>Qtd: </b>{{ parseInt(op.QUANTIDADE) }}</li>
                                <li class="list-group-item"><b>Data/Hora apontamento: </b>{{ dateTask(op.DATA_HORA) }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row bg-white" v-if="resultComprar != null">
                        <div class="col-md-12">
                            <div class="card card-login shadow-sm p-3 text-center" :class="{
                                'bg-success': resultComprar,
                                'bg-danger text-light': !resultComprar
                            }">
                                <h4 v-if="resultComprar">Pallet Liberado</h4>
                                <h4 v-else>Pallet divergente</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/bootstrap.bundle.js"></script>
    <script>
        //objeto contendo todos parametros e metodos do vue
        var options = {
            //objeto principal
            el: '#app',
            //parametros
            data: {
                successPrint: {
                    status: false,
                    titulo: '',
                    mensagem: '',
                    tipo: ''
                },
                comparar: false,
                etiquetaUm: null,
                etiquetaDois: null,
                resultComprar: null,
                codigo: '',
                codigoCampo: '',
                result: [],
                loadingDados: false,
                pallet: null,
                success: [
                    'Palete Liberado para recepção.',
                    'LOGISTICA: Palete Liberado para recepção.'
                ],
                warning: [
                    'PRODUÇÃO: Possível etiqueta duplicada, se for o caso, reetiquetar.',
                    'PRODUÇÃO: Palete com pendência de insumo.',
                    'PRODUÇÃO: Possível etiqueta duplicada, se for o caso, re-etiquetar.',
                    'LOGISTICA: Palete vindo do PS(doca), necessário solicitação de transferência manual.',
                    'LOGISTICA: Palete em movimentação ou com etiqueta duplicada, se for o caso, re-etiquetar.',
                    'PRODUÇÃO: Apontado a maior, necessário estornar e re-apontar com a quantidade base correta.',
                    'PRODUÇÃO: Etiqueta errada, necessário re-etiquetar.',
                    'PRODUÇÃO: Etiqueta errada, necessário reetiquetar.',
                    'PRODUÇÃO: Integração MES pendente.',
                    'PRODUÇÃO: Palete com pendência de insumo.',
                    'PRODUÇÃO: Apontado a maior, necessário estornar e reapontar com a quantidade base correta.',
                    'LOGISTICA: Palete vindo da doca, necessário solicitação de transferência manual.',
                    'Palete em área não mapeada, possível movimentação, entrar em contato com operador Mecalux.'
                ],
                info: [
                    'Palete vindo da área de picking, liberado para recepção.',
                    'Palete em Movimentação, entrar em contato com operador Mecalux.',
                ],
                danger: [
                    'TI: Necessário analise de TI.',
                    'TI: Pendência no cadastro do produto.'
                ]
            },
            //metodos
            methods: {
                modoCompara() {
                    if (this.codigo.length > 8) {
                        this.successPrint.status = false
                        this.pallet = null;
                        if ((this.etiquetaUm != null && this.etiquetaDois != null) || !this.comparar) {
                            this.etiquetaUm = null
                            this.etiquetaDois = null
                            this.resultComprar = null
                        }

                        if (this.comparar)
                            this.compararEtiqueta()
                        else
                            this.carregaDados()
                    }
                },
                compararEtiqueta() {
                    this.successPrint.status = false
                    this.pallet = null;
                    if (this.etiquetaUm == null) {
                        this.etiquetaUm = this.codigo
                        this.codigo = ''
                    } else if (this.etiquetaDois == null) {
                        this.etiquetaDois = this.codigo
                        this.codigo = ''
                    } if (this.etiquetaUm != null && this.etiquetaDois != null)
                        this.resultComprar = (this.etiquetaUm.substring(0, 8) == this.etiquetaDois.substring(0, 8))
                },
                dateTask(dateIni) {
                    var date = new Date(dateIni);
                    var mes = '';
                    (date.getMonth() == 0) ? mes = 'Jan' : '';
                    (date.getMonth() == 1) ? mes = 'Fev' : '';
                    (date.getMonth() == 2) ? mes = 'Mar' : '';
                    (date.getMonth() == 3) ? mes = 'Abr' : '';
                    (date.getMonth() == 4) ? mes = 'Mai' : '';
                    (date.getMonth() == 5) ? mes = 'Jun' : '';
                    (date.getMonth() == 6) ? mes = 'Jul' : '';
                    (date.getMonth() == 7) ? mes = 'Ago' : '';
                    (date.getMonth() == 8) ? mes = 'Set' : '';
                    (date.getMonth() == 9) ? mes = 'Out' : '';
                    (date.getMonth() == 10) ? mes = 'Nov' : '';
                    (date.getMonth() == 11) ? mes = 'Dez' : '';

                    var retorno = date.getDate() + ' ' + mes +
                        ', ' + date.getFullYear() +
                        ' ' + (date.getHours() + 3) +
                        ':' + (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + '';

                    return retorno;
                },
                async printEtiqueta(cod, id) {
                    this.successPrint.status = false
                    await axios.get('https://192.168.254.74/bomixKenobi/Api/etiquetaMecalux/opem/print',
                        {
                            params: {
                                cod: cod,
                                printer: 'GRANDE',
                                id: id,
                            }
                        })
                        .then(response => {
                            if (response.data.status) {
                                this.successPrint.status = true
                                this.successPrint.titulo = 'Sucesso!'
                                this.successPrint.mensagem = 'Etiqueta Impressa com sucesso'
                                this.successPrint.tipo = 'alert-success'
                                this.loading = false
                                this.codigo = cod
                                this.carregaDados()
                            } else {
                                this.successPrint.status = true
                                this.successPrint.titulo = response.data.title
                                this.successPrint.mensagem = response.data.message
                                this.successPrint.tipo = response.data.type
                            }
                        }).catch(error => {
                            this.erroPrint = true
                            this.loading = false
                        })
                },
                async carregaDados() {
                    this.successPrint.status = false
                    this.mensagemRetorno = ''
                    this.loadingDados = true
                    await axios.get('https://192.168.254.74/bomixKenobi/API/VerificPallet', {
                        params: {
                            op: this.codigo
                        }
                    }).then(response => {
                        this.pallet = response.data;
                        this.loadingDados = false
                        this.codigo = ''
                    });
                    this.codigo = ''
                },
            }
        }

        const vm = new Vue(options);

    </script>

</body>

</html>